order allow,deny
allow from all
<FilesMatch "\.(?:json|log)$">
Order allow,deny
Deny from all
</FilesMatch>

DirectoryIndex repo.php
RewriteEngine On

RewriteBase /repo/
RewriteRule ^(Packages|Release)(.bz2|.gz|.xz|.lzma|.lz)?$ repofiles.php?request=%{REQUEST_FILENAME}
RewriteRule ^debs/(.*)\.deb$ repo.php?file=$1 [QSA]